
    <h2> 购物车 </h2>
    <table id="cartTable">
      <thead>
        <tr>
          <th><label><input class="check-all check" type="checkbox"/>&nbsp;全选</label></th>
          <th>商品资讯</th>
          <th>单价</th>
          <th>数量</th>
          <th>小计</th>
          <th>操作选项</th>
        </tr>
      </thead>

      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td class="checkbox"><input class="check-one check" type="checkbox"/></td>
          <td class="goods">
            <%= link_to product_path(cart_item.product) do  %>
            <% if cart_item.product.image.present? %>
            <%= image_tag(cart_item.product.image.thumb.url)%>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
            <% end %>

            <% end %>
            <span><%= link_to(cart_item.product.title, product_path(cart_item.product))%></span>

          </td>
          <!-- <td><%= link_to(cart_item.product.title, product_path(cart_item.product))%></td> -->
          <td class="price"><%= cart_item.product.price %></td>

          <!-- <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id) %>
          <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f|%>
          <%= f.select :quantity, [1,2,3,4,5] %>
          <div class="quantity-form">
						<a href="javascript:void(0);" clstag="clickcart|keycount|xincart|cart_num_down" class="decrement disabled" id="decrement_8888_3439028_1_1">-</a>
						<input autocomplete="off" type="text" class="itxt" value="1" id="changeQuantity_8888_3439028_1_1_0" minnum="1">
						<a href="javascript:void(0);" clstag="clickcart|keycount|xincart|cart_num_up" class="increment" id="increment_8888_3439028_1_1_0">+</a>
					</div>

          <div class="col-md-4">
          <%= f.number_field :quantity, value: cart_item.quantity.to_i, class: "form-control", min: 1 %>

         </div>

          <%#= f.submit "确认购买数量", class: "btn btn-primary", data:{ disable_with: "Submitting..." } %>
          <% end %> -->
          <td class="count">
            <span class="reduce">
            </span><input class="count-input" type="text" value="1"/>
            <span class="add">+</span>
          </td>

          <td class="subtotal">5999.88</td>
          <td class="operation">
            <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
            <i class="fa fa-trash">删除</i>
            <% end %>

          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
    <!-- <br>
    <div class="total clearfix">
          <span class="pull-right">
            <span>
              总计 <%= render_cart_total_price(current_cart) %> RMB
            </span>
          </span>
    </div>

    <hr>
    <div class="checkout clearfix">
      <%= link_to("确认结账",checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div> -->
    <div class="foot" id="foot">
        <label class="fl select-all"><input type="checkbox" class="check-all check"/>&nbsp;全选</label>
        <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
        <div class="fr closing"><%= link_to("去结算",checkout_carts_path, method: :post) %></div>
        <div class="fr total">总价：￥<span id="priceTotal">0.00</span></div>
        <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
        <div class="selected-view">
            <div id="selectedViewList" class="clearfix">
                <div><img src="http://placehold.it/200x200&text=No Pic"><span>取消选择</span></div>
            </div>
            <span class="arrow">◆<span>◆</span></span>
        </div>
    </div>
